#logo {
  max-width: 150px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#header {
  background-color: #fffef2;
  text-align: center;
  padding: 50px;
}

#bodycontent {
  display: flex;
}

#leftcolumn {
  flex: 3;
}

#rightcolumn {
  flex: 1;
}

#footercontent {
  background-color: #8bca84;
  display: flex;
}
#leftfooter {
  padding: 0.5rem;
  margin: 1rem auto;
  text-align: center;
  flex: 1;
}

#rightfooter {
  padding: 0.5rem;
  margin: 1rem auto;
  text-align: center;
  flex: 1;
  /* margin-left: 100px; */
}

/* This is where the styling for testing2index starts */

.hero {
  background-image: url("Caretaker3.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.footer-columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.footer-column {
  flex: 0 0 45%;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
/* Style for reviews container */
.reviews-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.review-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.review-name {
  font-weight: bold;
}

.review-text {
  margin-top: 5px;
}
